* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#main {
  float: right; 
  width: 75%;

  top: 50px;
  left: 20px;

  margin: 20px -5px 0 0;

  /*width: 500px;*/
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
  
  font-size: 15px;
  
  line-height: 20px;
}

#main ul {
  margin: 20px;
}

#main li {
  list-style-type: square;

  font-size: 15px;
  
  line-height: 20px;
    
}

#sidebar {
    float: left;
    width: 200px;
    top: 40px;
    left: 20px;
  /*height: 1000px;*/

    margin: 20px -5px 0 0;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}
#logo {
    position:static;
    background: #fff;
    color: #000;
    font: 100%/1 Arial, Helvetica, sans-serif;
}

#logo {
    padding: 0em;
}

#logo h1, #logo h2 {
    margin: 0;
}
#logo h1 {
    height: 150px;
}
#logo h1 span {
    float: left;
    height: 100%;
}

#logo h1 #img {
    width: 1500px;
    height: 150px;
    background: transparent url("../images/banner.jpg") no-repeat top left;
    text-indent: -1000em;
    border-style:solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;

}

#logo h1 #css, #logo h1 #day {
    font-size: 150px;
    text-transform: uppercase;
}
#logo h1 #css {
    color: #c00;
}

#logo h2 {
    text-transform: uppercase;
    font-size: 55px;
    display: inline;
    background: #000;
    color: #fff;
    position: relative;
    top: 10px;
}

#logo h1 #css, #logo h1 #day {
    position: relative;
    top: 15px;
}